@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$body-bg: #000;
$primary-color: #034078;
$title-color: #262626;
$para-color: #8a8a8a;
$font-family: "Poppins", serif;
$border-color: #DADADA;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$offcanvas-bg: rgba(0,0,0,0.8);
// $custom-padding: 0 9.688rem;
$custom-padding-2: 5.438rem 0;
$custom-padding-3: 5.438rem 0 0;
$font-44: 44px;
