@import "../../index.scss";

#sectionWork {
    padding: $custom-padding-3;
    height: 100vh;

    .container {
        height: 100vh;

        .row {
            height: 100vh;
            position: relative;

            .content-section {
                position: absolute;
                width: 100%;
                height: inherit;
                top: 20%;
                left: 0;
                transform: translateY(-80%);
                z-index: 99;

                h1 {
                    font-size: $font-44;
                    font-weight: $regular;
                    line-height: 3.5rem;
                    text-align: center;
                }

                p {
                    max-width: 900px;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 18px;
                    padding-top: 1.25rem;
                    font-weight: $light;
                    color: $para-color;
                }


            }

            .remove-zIndex {
                z-index: 0;
            }
        }
    }

    .carousel {
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        position: absolute;
        top: 55%;
        transform: translateY(-45%);
        display: flex;
        align-items: center;

        .slides {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            width: 70%;
            margin: 0 auto;

            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }

            .box {
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 280px;
                height: 420px;
                margin-right: 50px;
                border-radius: 10px;
                background: $primary-color;
                transform-origin: center center;
                transform: scale(1);
                position: relative;
                display: flex;
                padding: 1rem;
                justify-content: flex-start;
                align-items: end;
                border: none;
                flex-wrap: wrap;

                &::after {
                    content: '';
                    border-radius: 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: inherit;
                    background-color: rgba(0, 0, 0, 0.6);
                }

                h6 {
                    color: $body-bg;
                    position: absolute;
                    z-index: 99;
                    top: 70%;
                    font-size: 1.563rem;
                    transform: translateY(-45%);
                    text-align: left;
                }

                &:nth-child(1) {
                    background: url("../../images/card_antim.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                &:nth-child(2) {
                    background: url("../../images/card_puneri.png");
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: cover;
                }
                &:nth-child(3) {
                    background: url("../../images/card_staples.png");
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: cover;
                }
                &:nth-child(4) {
                    background: url("../../images/card_JIB.png");
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: cover;
                }
                &:nth-child(5) {
                    background: url("../../images/card_bhn.png");
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: cover;
                }
                &:nth-child(6) {
                    background: url("../../images/sngApp_1.jpg");
                    background-repeat: no-repeat;
                    background-position: top;
                    background-size: cover;
                }
                &:nth-child(7) {
                    background: url("../../images/bhnApp_1.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}

.slideContent {
    width: 100%;
    height: inherit;
    background: $body-bg;
    padding: 1rem 5rem 5rem;
    text-align: left;
    position: relative;

    .breadcrumb {
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }

            span {
                font-weight: $regular;
                color: $title-color;

            }
        }
    }

    h3 {
        a{
            text-decoration: none;
            font-size: $font-44;
            color: $title-color;
        }
    }

    p {
        color: $para-color;
        font-size: 1.125rem;
        padding-bottom: 1.25rem;
        font-weight: $regular;

        &:not(:nth-child(2)) {
            padding-top: 1.25rem;
        }
    }

    span {
        display: block;
        margin: 1rem 0;
        font-size: 1.25rem;
        color: $title-color;
    }

    .tech_img {
        img {
            width: 30px;
            height: 30px;
            margin: 0 0.313rem;
        }
    }
}