@import "../../index.scss";

@keyframes dimensions {
    from {
        width: 280px;
        height: 420px;
    }

    to {
        width: 100vw;
        height: 100vh;
    }
}

#sectionWork {
    padding: $custom-padding-3;
    height: 100vh;
    .carousel {
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        position: absolute;
        top: 55%;
        transform: translateY(-45%);
        display: flex;
        align-items: center;
        .slides {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            .box {
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 280px;
                height: 420px;
                margin-right: 50px;
                border-radius: 10px;
                background: $primary-color;
                transform-origin: center center;
                transform: scale(1);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .expanded {
                animation-name: dimensions;
                animation-timing-function: ease-out;
                animation-duration: 0.5s;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 0;
                z-index: 999;
            }
        }
    }
    .container {
        height: 100vh;

        .row {
            height: 100vh;
            position: relative;

            .content-section {
                position: absolute;
                width: 100%;
                height: inherit;
                top: 20%;
                left: 0;
                transform: translateY(-80%);
                z-index: 99;

                h1 {
                    font-size: $font-44;
                    font-weight: $regular;
                    line-height: 3.5rem;
                    text-align: center;
                }

                
            }

            .remove-zIndex {
                z-index: 0;
            }
        }
    }
}